.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.input__item {
  padding: 10px;


  label {
    display: block;
  }
}

.error__container {
  color: red;
}



.attachment__input {
  background-color: aliceblue;
}
